#recipes
  = simple_form_for @recipe do |f|

    = f.input :name
    = f.input :ingredients, as: :text, input_html: {rows: 10}
    = f.input :instructions, as: :text, input_html: {rows: 10}
    = f.input :credits, as: :text, input_html: {rows: 3}
    = f.input :public, default: true
    = f.submit class: 'btn'