.row

  .span4
    - if current_user.favorite_recipes.all.include?(@recipe)
      = link_to "Remove from Favorites", favorite_path(recipe: @recipe), method: :delete, class: 'btn btn-danger'
    - else
      = link_to "Favorite", favorites_path(recipe: @recipe), method: :post, class: 'btn'

  .span8

    %h1= @recipe.title

    = link_to @recipe.user.name, @recipe.user

    %P
      Ingredients: 
      = simple_format @recipe.ingredients

    %p
      Instructions: 
      = simple_format @recipe.instructions

    %p
      Credits: 
      = simple_format @recipe.credits

    %p
      Reviews