%h1= "Welcome #{current_user.name}"

= link_to "Add Recipe", new_recipe_path, class: 'btn btn-primary'
%br

%h2 
  Recipes: 
  = link_to @recipes.count, current_user

%h2
  Followers: 
  = link_to @followers.count, followers_path




%h2
  Following: 
  = link_to @following.count, following_path




%h2 ALL USERS
- @users.each do |user|
  %p
    = link_to user.name, user